@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Kiwi Maru', serif;
}

body {
  background-image: radial-gradient(#d1d5db 0.5px, transparent 0.5px);
  background-size: 20px 20px; /* 方格/點狀紙質感 */
}
